div.sidenav-logo.shadow-sm
    .brand  
        a.brand(href="")
            | Brand Name 
    button.btn.toggle-sidenav
        span.material-symbols-outlined.fs-2.icon
            | arrow_circle_left
div.list-group
    a.list-group-item.list-group-item-action.sidenav-item.active(href="/")
        span.icon.material-symbols-outlined 
            | home 
        span.text
            | Home 
    a.list-group-item.list-group-item-action.sidenav-item(href="/dashboards")
        span.icon.material-symbols-outlined 
            | dashboard 
        span.text
            | Dashboard
    a.list-group-item.list-group-item-action.sidenav-item(href="/forms")
        span.icon.material-symbols-outlined 
            | dashboard 
        span.text
            | Forms