extends ../layouts/sidenav

block content
    a.btn.btn-link(href="/dashboards")
        | Back to dashboards
    .container 
        .row 
            .col-12 
                .card 
                    .card-body
                        canvas#bar1